@model Movie

@{
    ViewData["Title"] = "Add a new Movie";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Movie</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language" class="control-label"></label>
                        <input asp-for="Language" class="form-control" />
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        @Html.CheckBoxFor(m => m.Status)
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Region" class="control-label"></label>
                        <input asp-for="Region" class="form-control" />
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stars" class="control-label"></label>
                        <input asp-for="Stars" class="form-control" />
                        <span asp-validation-for="Stars" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleDate" class="control-label"></label>
                        <input asp-for="ReleDate" class="form-control" />
                        <span asp-validation-for="ReleDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MovieCategory" class="control-label"></label>
                        <select asp-for="MovieCategory" class="form-control"
                                asp-items="Html.GetEnumSelectList<MovieCategory>()"></select>
                        <span asp-validation-for="MovieCategory" class="text-danger"></span>
                    </div>
                        <label class="control-label">Directors</label>
                    @foreach (var error in ViewBag.Directors)
                {
                    <div>
                        <input type="checkbox" value="@error.Name" class="btn btn-outline-success float-right" itemid="@error.Name"
                        onclick="hello(value);" />
                        @error.Name
                    </div>
                }
                        <label class="control-label">Actors</label>
                    @foreach (var error in ViewBag.Actors)
                {
                    <div>
                        <input type="checkbox" value="@error.Name" class="btn btn-outline-success float-right" itemid="@error.Name"
                        onclick="hello(value);" />
                        @error.Name
                    </div>
                }
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right"
                               id="btnSubmit" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 var hobbies = [];
    function hello(Value) {
        if (hobbies.includes(Value)) {
            hobbies.splice(hobbies.indexOf(Value), 1);
        }
        else {
            hobbies.push(Value);
        }
        let hobbies_string = hobbies.join(",");
        console.log(hobbies, hobbies_string);
        document.getElementById("Hobbie").value = hobbies_string.toString();
    }
    $(document).ready(function() {
        $(function() {
            $('#btnSubmit').click(function(event) {
                event.preventDefault();
                var Name = $("#Name").val();
                var Language = $("#Language").val();
                var Category = $("#Category").val();
                var Status = $("#Status").val();
                var Region = $("#Region").val();
                var Stars = $("#Stars").val();
                var ReleDate = $("#ReleDate").val();
                var MovieCategory = $("#MovieCategory").val();

                if (Name == "" || Language == "" || Category == "" || Status == "" || Region == "" || Stars == "" || ReleDate == "" || MovieCategory == "") {
                    alert("Please fill all the fields");
                    return false;
                }
                else if (Name.length <= 3) {
                    alert("Name should be greater than 3 characters");
                    return false;
                }
                else if (Language.length <= 3) {
                    alert("Language should be greater than 3 characters");
                    return false;
                }
                else if (Category.length <= 3) {
                    alert("Category should be greater than 3 characters");
                    return false;
                }
                else if (Region.length <= 3) {
                    alert("Region should be greater than 3 characters");
                    return false;
                }
                else if (Stars < 0) {
                    alert("Stars should be greater than 0");
                    return false;
                }

                var actorData = {
                    Name: $('#Name').val(),
                    Language: $('#Language').val(),
                    Category: $('#Category').val(),
                    Status: $('#Status').val(),
                    Region: $('#Region').val(),
                    Stars: $('#Stars').val(),
                    ReleDate: $('#ReleDate').val(),
                    MovieCategory: $('#MovieCategory').val()
                };
                $.ajax({
                    type: "POST",
                    url: "/Movies/Create",
                    data: actorData,
                    dataType: "html",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function(data) {
                        window.location.href = "/Movies/Index";
                        alert('Movie Created Successfully');
                    },
                    error: function(error) {
                        alert("Error occured!!", error)
                    }
                });
            });
        });
    });
</script>
